<div class="add-product">
    <h1>Update Product</h1>
    <p class="p_message">{{productMessage}}</p>
    <form class="common-form" (ngSubmit)="submit(addProduct.value)" #addProduct="ngForm">
        <input class="form-input" ngModel={{productData?.name}} name="name" type="text" placeholder="Enter Product name">
        <input class="form-input" ngModel="{{productData?.price}}" name="price" type="text" placeholder="Enter Product price">
        <input class="form-input" ngModel="{{productData?.color}}" name="color" type="text" placeholder="Enter Product Color">
        <input class="form-input" ngModel="{{productData?.category}}" name="category" type="text" placeholder="Enter Product Category">
        <textarea class="form-input" ngModel="{{productData?.description}}" name="description" type="text" placeholder="Enter Product Description"></textarea>
        <input class="form-input" ngModel="{{productData?.image}}" name="image" type="text" placeholder="Enter image">
        <button class="form-button">Update Product</button>
    </form>
</div>
