<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller Signup</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" ngModel name="name" type="text" placeholder="Enter the name">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter the password">
            <input class="form-input" ngModel name="email" type="email" placeholder="Enter the email">
            <button class="form-button">Signup</button>
            <br>
            <a class="auth-toggle-link" (click)="openLogin()">Already have account? Click here to login</a>
        </form>
    </div>
    <!-- login area -->
    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" ngModel name="email" type="email" placeholder="Enter the email">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter the password">
            <button class="form-button">Seller login</button>
            <br>
            <a class="auth-toggle-link" (click)="openSignup()">Do you already have account? Click here</a>
        </form>
    </div>
</div>
